Assignment 04 - Simple_Linear_Regression

1) Delivery_time -> Predict delivery time using sorting time

In [1]:
# important libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import seaborn as sns

In [2]:
# data loading using pandas read_csv
delivery_time = pd.read_csv("D:\Data Science Material\Assignments\Simple Linear Regression assignment\delivery_time.csv")

In [3]:
delivery_time   # actual data

    Delivery Time  Sorting Time
0           21.00            10
1           13.50             4
2           19.75             6
3           24.00             9
4           29.00            10
5           15.35             6
6           19.00             7
7            9.50             3
8           17.90            10
9           18.75             9
10          19.83             8
11          10.75             4
12          16.68             7
13          11.50             3
14          12.03             3
15          14.88             4
16          13.75             6
17          18.11             7
18           8.00             2
19          17.83             7
20          21.50             5

In [4]:
delivery_time.isna().sum()

Delivery Time    0
Sorting Time     0
dtype: int64

"""finding null values total sum in records, there is no any null values in records thats why we not need to any cleaning filling operation to clean the data """

In [5]:
delivery_time.info()    # info. about data like data type cols name null values etc.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Delivery Time  21 non-null     float64
 1   Sorting Time   21 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 464.0 bytes

In [6]:
delivery_time.duplicated() # finding duplicated values

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
dtype: bool

In [7]:
delivery_time.describe()   # mathematical info like mean median mode etc..

       Delivery Time  Sorting Time
count      21.000000     21.000000
mean       16.790952      6.190476
std         5.074901      2.542028
min         8.000000      2.000000
25%        13.500000      4.000000
50%        17.830000      6.000000
75%        19.750000      8.000000
max        29.000000     10.000000

In [8]:
#  renaming cols using rename methd
delivery_time = delivery_time.rename(columns={'Delivery Time':'Delivery_Time','Sorting Time':'Sorting_Time'})

In [9]:
delivery_time.head() # 1st five rows with cols

   Delivery_Time  Sorting_Time
0          21.00            10
1          13.50             4
2          19.75             6
3          24.00             9
4          29.00            10

In [10]:
delivery_time.Delivery_Time.head() # single entry data extraction

0    21.00
1    13.50
2    19.75
3    24.00
4    29.00
Name: Delivery_Time, dtype: float64

In [ ]:
# sctter plot betn 2 cols of data
plt.scatter(delivery_time.Delivery_Time,delivery_time.Sorting_Time)
plt.show()

In [ ]:
# finding corrilation betn cols
delivery_time.corr()

In [ ]:
# displot 
sns.displot(delivery_time['Delivery_Time'])
plt.show()

In [ ]:
# displot
sns.displot(np.log(delivery_time.Delivery_Time))
plt.show()

In [ ]:
# displot
sns.displot(delivery_time['Sorting_Time'])
plt.show()

In [ ]:
# displot
sns.displot(np.log(delivery_time.Delivery_Time))
plt.show()

In [ ]:
# boxplot for outliers 
plt.boxplot(delivery_time.Delivery_Time)
plt.show()

In [ ]:
# boxplot for outliers
plt.boxplot(delivery_time.Sorting_Time)
plt.show()

In [ ]:
# boxplot for outliers
plt.boxplot(delivery_time)
plt.show()

In [ ]:
# mean of data
delivery_time.mean()

In [ ]:
# kurtosis of data
delivery_time.kurtosis()

In [ ]:
# std of data
delivery_time.std()

In [ ]:
# variance of data
delivery_time.var()

Fitting a Linear Regression Model

In [ ]:
# called Ordinary Least-Squares (OLS) Regression, 
#is probably the most commonly used technique in Statistical Learning. using this tech. we fitting the model
model = smf.ols("Delivery_Time~Sorting_Time",data = delivery_time).fit()

In [ ]:
model

In [ ]:
# summary() function return a summarized representation of the Index. 
# This function is similar to what we have for the dataframes.
model.summary()

# R-squared:	0.682 value also Having 0.68 so R-squared Value >0.8 we tell as this is not Strong  Model

In [ ]:
#  regression plot
sns.regplot(x='Delivery_Time',y='Sorting_Time',data = delivery_time)
plt.show()

In [ ]:
#Coefficients
"""Param lets you program declaratively in Python, 
stating facts about each of your parameters up front. 
Once you have done that, Param can handle the rest 
(type checking, range validation, documentation, serialization, and more!)."""
model.params

In [ ]:
# P & T values
print(model.pvalues,'\n',model.tvalues)

In [ ]:
# R squared values
print(model.rsquared,'\n',model.rsquared_adj)