Assignment 04 , question - 02

In [ ]:
# important libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf

In [ ]:
# data handling 
Salary_hike  = pd.read_csv("D:\Data Science Material\Assignments\Simple Linear Regression assignment\Salary_Data.csv")

In [ ]:
Salary_hike.head()

In [ ]:
Salary_hike.describe()

In [ ]:
Salary_hike.isna().sum()    # sum of null values

In [ ]:
Salary_hike.info()  # info about data

In [ ]:
Salary_hike.duplicated()  # duplicated records

In [ ]:
Salary_hike.YearsExperience.head()

In [ ]:
Salary_hike.Salary.head()

In [ ]:
Salary_hike.corr()  # relation betn 2 cols

In [ ]:
Salary_hike.mean()   # mean

In [ ]:
Salary_hike.var()  # variation

In [ ]:
Salary_hike.std()   # standard daviation

In [ ]:
Salary_hike.kurtosis()

In [ ]:
# scatter plot betn 2 cols
sns.scatterplot(x = 'YearsExperience', y = 'Salary',data =Salary_hike )
plt.show()

In [ ]:
sns.distplot(Salary_hike['YearsExperience'])
plt.show()

In [ ]:
sns.distplot(Salary_hike["Salary"])
plt.show()

In [ ]:
#sns.distplot(Salary_hike.YearsExperience,Salary_hike.Salary,bins=5)
#plt.show()

In [ ]:
sns.distplot(Salary_hike)
plt.show()

In [ ]:
sns.boxplot(Salary_hike.YearsExperience)
plt.show()

In [ ]:
sns.boxplot(Salary_hike.Salary)
plt.show()

In [ ]:
plt.boxplot(Salary_hike)
plt.show()

In [ ]:
# regression plot max data is in simple linear form
sns.regplot(x = 'YearsExperience', y='Salary', data =Salary_hike )
plt.show()

In [ ]:
"""called Ordinary Least-Squares (OLS) Regression, 
is probably the most commonly used technique in Statistical Learning. using this tech. we fitting the model"""
model = smf.ols("YearsExperience ~ Salary",data = Salary_hike).fit()

In [ ]:
model

In [ ]:
model.summary()
# summary() function return a summarized representation of the Index. 
# This function is similar to what we have for the dataframes.

In [ ]:
model.tvalues, model.pvalues  
# P & T values

In [ ]:
model.params

In [ ]:
model.rsquared , model.rsquared_adj

In [ ]:
# Manual prediction for say 3 Years Experience
Salary = (25792.200199) + (9449.962321)*(3)
Salary

 Automatic Prediction for say 3 & 5 Years Experience

In [ ]:
new_data=pd.Series([3,5])
new_data

In [ ]:
data_pred=pd.DataFrame(new_data,columns=['YearsExperience'])
data_pred